.blog {
  &__title {
    margin-bottom: 60px;

    @media screen and (width <=768px) {
      margin-bottom: 24px;
    }
  }

  &__text-block {
    margin-bottom: 40px;

    @media screen and (width <=768px) {
      margin-bottom: 24px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;

    @media screen and (width <=990px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <=576px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
      margin-bottom: 40px;

      .info-card {
        max-width: 100%;
      }
    }
  }

  &__filter-category {
    margin-bottom: 32px;

    @media screen and (width <=768px) {
      margin-bottom: 24px;
    }
  }

  &__list-item {}

  &__info-card {
    @media screen and (width <=576px) {


      .info-card {
        max-width: 100%;

      }
    }



  }

  &__pagination {
    margin-bottom: 40px;

    @media screen and (width <=576px) {
      margin-bottom: 48px;
    }
  }

  &__subscribe {
    border-bottom: 1px solid rgba(62, 66, 91, 0.2);
    padding-bottom: 80px;
    margin-bottom: 80px;

    @media screen and (width <=768px) {
      padding-bottom: 0;
      margin-bottom: 48px;
      border-bottom: none;
    }
  }

  &__subscribe-form {
    border-radius: 16px;
    background-color: rgba(67, 81, 216, 0.1);
    padding: 47px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <=768px) {
      padding: 16px;
      flex-direction: column;
      row-gap: 24px;
    }

  }

  &__form-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: var(--blue-color);
    max-width: 450px;
    width: 100%;

    @media screen and (width <=768px) {
      font-size: 20px;
    }

  }

  &__form {
    display: flex;
    gap: 8px;
    max-width: 650px;
    width: 100%;

    @media screen and (width <=576px) {
      flex-direction: column;
      max-width: 100%;
    }
  }

  &__form-input {
    border-radius: 8px;
    background-color: var(--white-color);
    padding: 14px 16px;
    width: 100%;
    outline: transparent;
    border: 1px solid transparent;
    transition: all 0.3s;

    @media screen and (width <=576px) {
      padding: 12px 16px;
    }

    &:focus {
      border: 1px solid var(--blue-color);
    }

    &::placeholder {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      color: rgba(62, 66, 91, 0.6);

      @media screen and (width <=576px) {
        font-size: 14px;
      }
    }
  }


}
