.team {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 32px;

    @media screen and (width <=768px) {
      margin-bottom: 23px;
      font-size: 16px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 30px;
    margin-bottom: 24px;
    height: 643px;
    overflow: hidden;
    position: relative;

    @media screen and (width <=1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (width <=768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 16px;
      height: calc(2* (270px - 16px));
    }

    &::after {
      content: '';
      display: block;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #fff 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 190px;
      z-index: 1;
    }
  }

  &__item-img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 16px;

    @media screen and (width <=768px) {
      margin-bottom: 8px;
    }
  }

  &__item-name {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;

    @media screen and (width <=768px) {
      font-size: 16px;
    }
  }

  &__item-profession,
  &__item-experience {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    display: block;

    @media screen and (width <=768px) {
      font-size: 14px;
    }
  }

  &__item-profession {
    margin-bottom: 8px;
  }

  &__link {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
